# Compiled python files
*.py[co]

# Compiled java class files
*.class

# Logs
*.log

# Vim swap save files
*.swp

# Build folders
build
pkg
src/github.com

# django static collected objects
root/opt/postprompt/www/static/*

# generated drawings
*.draw
docs/gen_*

# The database
*shared_database

# Game save files
*.save

# User encrypted passwords
*.stable
