# Compiled python files
*.py[co]

# Logs
*.log

# User encrypted passwords
*.stable

# The database
*shared_database

# Swap save files
*.swp

# Game save files
*.save

#build folder (.class)
build
*.class

# django static collected objects
root/opt/postprompt/www/static/*

# generated drawings
*.draw
docs/gen_*
