# Compiled python files
*.py[co]

# Logs
postprompthost.log
postpromptclient.log
postpromptweb.log

# User encrypted passwords
*.stable

# The database
*shared_database

# Swap save files
*.swp

# Game save files
*.save

#build folder (.class)
build
*.class

root/opt/postprompt/www/static/*
