#output {
	white-space:pre-wrap;
	color:#bbb;
}

#logo {
	float:left;
}

#top {
	height:130px;
}

#main {
	min-height:1000px;
	text-align:left;
	border:3px solid #000;
	border-top:0px solid #000;
}

body {
	font-family:'DejaVuSans', serif;
	background:url("/quinten/images/back.png") repeat;
	background-color:#000;
	width:1000px;
	margin:auto;
	color:#fb3;
}
