{% extends "base_play.html" %}
{% block js %}
		<script src="{{ STATIC_PREFIX }}js/game.js" type="text/javascript"></script>
		<script src="{{ STATIC_PREFIX }}js/model.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
	<button type="button" onclick="update_game({{ game_id }})">New Game</button>
	<script type="text/javascript">display('{{ game_xml|safe }}')</script>
	<form method="post">{% csrf_token %}
		<table id="manage">
			<tr>
				<td>
					<input type="submit" name="command" value="Setup">
				</td>
				<td>
					<input type="submit" name="command" value="Draw">
				</td>
				<td>
					<input type="submit" name="command" value="Phase">
				</td>
				<td>
					<input type="submit" name="command" value="Turn">
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
