@font-face {
    font-family: 'DejaVuSans';
    src: url('../fonts/DejaVuSans.ttf');
    font-weight: normal;
    font-style: normal;
}


#container {
    position:relative;
}

body {
	width:1000px;
	margin:auto;
	padding:0;
	background:url("../images/icons/back.png") repeat;
	background-color:#000;
	color:#fb3;
	font-family:'DejaVuSans', serif;
}


#top {
	height:130px;
	clear:both;
}

.all {
	background-color:#222;
}


a, a:visited {
	color:#fca;
	text-decoration:none;
}

#menubar {
	position:relative;
	clear:both;
	height:80px;
}

#menu-global {
	position:absolute;
	margin:0;
	bottom:0;
	padding:0px;
}
#menu-global li {
	display:block;
	float:left;
	text-align:center;
	list-style-type:none;
	margin:0;
	padding:0;
}

#menu-global li a{
	display:block;
	color:#fa4;
	background-image:url("../images/icons/menu.png");
}

#menu-global li a span{
	width:100px;
	height:40px;
	display:block;
	padding-top:20px;
}

#menu-global li a:hover {
	color:white;
	background-image:url("../images/icons/menu-active.png");
}

#home #menu-home a,
#game #menu-game a,
#about #menu-about a,
#account #menu-account a {
	color:white;
	background-image:url("../images/icons/menu-current.png");
}

#main {
	clear:both;
	min-height:1000px;
	text-align:left;
	border:3px solid #000;
	border-top:0px solid #000;
}

#content {
	width:794px;
	min-height:990px;
	float:left;
	text-align:left;
	padding-top:20px;
}

#content p {
	padding-left:70px;
	padding-right:70px;
	padding-bottom:40px;
}

#content h1 {
	font-size:150%;
	font-weight:bold;
	padding-left:60px;
	padding-right:60px;
	padding-bottom:40px;
}


#logo {
	float:left;
}

#manage tr td {
	text-align:center;
}

#manage tr td a {
	display:block;
	background-image:url("../images/icons/button.png");
	font-size:35px;
	color:#bbb;
}

#manage tr td a:hover {
	background-image:url("../images/icons/button-active.png");
	color:#eee;
}

#manage tr td a span {
	width:300px;
	height:80px;
	display:block;
	padding-top:20px;
}

#login{
	float:left;
	padding-left:50px;
}

#register {
	float:right;
	padding-right:50px;
}

