{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
	<head>
		<title>{% block title %}PostPrompt the Virtual Card Game{% endblock %} | PostPrompt</title>
		<meta name="keywords" content="Virtual, Trading, Card, Game, " />
		<meta name="description" content="PostPrompt is a virtual trading card game" />
		<link href="{{ STATIC_PREFIX }}images/logos/logo.ico" rel="icon" type="text/x-icon">
		<link href="{{ STATIC_PREFIX }}images/logos/logo.ico" rel="shortcut icon" type="text/x-icon">
		<link href="{{ STATIC_PREFIX }}css/sitewide.css" rel="stylesheet" type="text/css">
		{% block js %}{% endblock %}
		<script src="{{ STATIC_PREFIX }}js/util.js" type="text/javascript"></script>
	</head>

	<body id="{% block sectionid %}generic{% endblock %}" class="default">
		<div id="header">
			<h1 id="logo"><a href="/"><img src="{{ STATIC_PREFIX }}images/style/logo.png" border=0/></a></h1>
		</div>
		<div id="menubar">
			<ul id="menu-global">
				<a href="/play/"><li id="menu-play"></li></a>
				<a href="/trade/"><li id="menu-trade"></li></a>
				<a href="/news/"><li id="menu-news"></li></a>
				<a href="/account/"><li id="menu-account"></li></a>
				<a href="/about/"><li id="menu-about"></li></a>
			</ul>
		</div>
		<div id="content-holder">
			<div id="content">
			{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
