@font-face {
    font-family: 'DejaVuSans';
    src: url('../fonts/DejaVuSans.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '04b_pp';
    src: url('../fonts/04b.ttf');
    font-weight: normal;
    font-style: normal;
}

/* SETUP */

.all {
	background-color:#222;
}

#container {
    position:relative;
}

body {
	width:1200px;
	margin:auto;
	padding:0;
	background:url("../images/icons/back.png") repeat;
	background-color:#000;
	color:#fb3;
	font-family:'DejaVuSans', serif;
}

/* LINKS */

a:link, a:visited {
	color:#fca;
	text-decoration:none;
}
#content-main a:link, #content-main a:visited {
    color:#fca;
    text-decoration:none;
}

a:hover {
    color:#fcc;
}
#content-main a:hover {
    color:#fcc;
    text-decoration:none;
}

/* HEADER */

#header {
    position:relative;
	height:130px;
	clear:both;
}

#header h1#logo {
    position:absolute;
    width:300px;
    height:120px;
    margin:0;
    left:25px;
    bottom:10px;
	float:left;
}

/* MENU BAR */

#menubar {
	position:relative;
	clear:both;
	height:80px;
}

#menu-global {
	position:absolute;
	margin:0;
	bottom:0;
	padding:0px;
}
#menu-global li {
	display:block;
	float:left;
	text-align:center;
	list-style-type:none;
	margin:0;
	padding:0;
}

#menu-global li a{
	display:block;
	color:#fa4;
	background-image:url("../images/icons/menu.png");
}

#menu-global li a span{
	width:100px;
	height:40px;
	display:block;
	padding-top:20px;
}

#menu-global li a:hover {
	color:white;
	background-image:url("../images/icons/menu-active.png");
}

#home #menu-home a,
#play #menu-play a,
#about #menu-about a,
#account #menu-account a,
#trade #menu-trade a,
#news #menu-news a {
	color:white;
	background-image:url("../images/icons/menu-current.png");
}

#login{
	float:left;
	padding-left:50px;
}

#register {
	float:right;
	padding-right:50px;
}

#content-main {
	clear:both;
	min-height:1000px;
	text-align:left;
	border:3px solid #000;
	border-top:0px solid #000;
}

#content {
	width:1000px;
	min-height:990px;
	float:left;
	text-align:left;
	padding-top:20px;
}

#content p {
	padding-left:70px;
	padding-right:70px;
	padding-bottom:40px;
}

#content h1 {
	font-size:150%;
	font-weight:bold;
	padding-left:60px;
	padding-right:60px;
	padding-bottom:40px;
}

#manage tr td {
	text-align:center;
	display:block;
	background-image:url("../images/icons/button.png");
	font-size:35px;
	color:#bbb;
}

#manage tr td:hover {
	background-image:url("../images/icons/button-active.png");
	color:#eee;
}

#manage tr td span {
	width:300px;
	height:80px;
	display:block;
	padding-top:20px;
}

#mini-manage tr td {
	text-align:center;
	display:block;
	background-image:url("../images/icons/mini-button.png");
	font-size:14px;
	color:#bbb;
}

#mini-manage tr td:hover {
	background-image:url("../images/icons/mini-button-active.png");
	color:#eee;
}

#mini-manage tr td span {
	width:150px;
	height:40px;
	display:block;
	padding-top:9px;
}

#card_lists {
	display:block;
	background-color:#171;
	width:990px;
	height:200px;
}

#card_lists table tr td {
	text-align:center;
	display:block;
	background-image:url("../images/cards/card.png");
	font-size:25px;
	color:#bbb;
}

#card_lists table tr td:hover {
	background-image:url("../images/cards/card-hover.png");
	color:#eee;
}

#card_lists table tr td span {
	width:130px;
	height:200px;
	display:block;
}

#deck_manage div {
	min-height:50px;
	background-color:#171;
	width:792;
	border-style:outset;
	border-width:5px;
	border-color:gray;
}
#deck_manage div table {
	padding:9px;
}
