@font-face {
    font-family: 'DejaVuSans';
    src: url('../fonts/DejaVuSans.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '04b_pp';
    src: url('../fonts/04b.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fipps';
    src: url('../fonts/Fipps.otf');
    font-weight: normal;
    font-style: normal;
}
/* SETUP */


body {
	margin:auto;
	padding:0px;
	background-color:#0cf;
	text-align:center;
}

/* LINKS */

a:link, a:visited {
	color:#fca;
	text-decoration:none;
}
#content-main a:link, #content-main a:visited {
    color:#fca;
    text-decoration:none;
}

a:hover {
    color:#fcc;
}
#content-main a:hover {
    color:#fcc;
    text-decoration:none;
}

/* HEADER */

#header {
    position:relative;
	height:91px;
	clear:both;
	text-align: center;
}

#logo {
	display: inline;
    width:502px;
    height:95px;
    margin:0;
	text-align:center;
}

/* MENU BAR */

#menubar {
	display: inline-block;
	position:relative;
	clear:both;
	height:61px;
	width: 750px; /* sum of widths of menu items */
}

#menu-global {
	position:absolute;
	margin:0;
	bottom:0;
	padding:0px;
	text-align:center;
}
#menu-global li {
	display:block;
	list-style-type:none;
	float:left;
	text-align:center;
	margin:0;
	padding:0;
	height: 61px;
}

#menu-play { background:url('/static/images/style/play.png') no-repeat; min-width:119px; }
#menu-trade { background:url('/static/images/style/trade.png') no-repeat; min-width:148px; }
#menu-news { background:url('/static/images/style/news.png') no-repeat; min-width:137px; }
#menu-account { background:url('/static/images/style/account.png') no-repeat; min-width:191px; }
#menu-about { background:url('/static/images/style/about.png') no-repeat; min-width:144px; }

#menu-play:hover { background:url('/static/images/style/play_lit.png') no-repeat; }
#menu-trade:hover { background:url('/static/images/style/trade_lit.png') no-repeat; }
#menu-news:hover { background:url('/static/images/style/news_lit.png') no-repeat; }
#menu-account:hover { background:url('/static/images/style/account_lit.png') no-repeat; }
#menu-about:hover { background:url('/static/images/style/about_lit.png') no-repeat; }


/* CONTENT TYPE */

#content-main {
	clear:both;
	margin:auto;
	min-height:1000px;
	width:100%;
	text-align:left;
}

#content-holder {
	display: block;
	background: #090 url('/static/images/style/bg.png') repeat-x;
	padding:20px;
	min-height: 850px;
	text-align: center;
}

#content {
/* container for page content */
	background-color: #630;
	margin: 50px auto 0 auto;
	border: 24px solid transparent;
	border-image: url('/static/images/style/border.png') 24 24 24 24 round round;
	width:80%;
	text-align:left;
	min-height: 800px;
}

#content p {
	padding-left:70px;
	padding-right:70px;
	padding-bottom:40px;
}

#content h1 {
	font-size:150%;
	font-weight:bold;
	padding-left:60px;
	padding-right:60px;
	padding-bottom:40px;
}


#login{
	float:left;
	padding-left:50px;
}

#register {
	float:right;
	padding-right:50px;
}

/* TABLE AND LIST FORMATTERS */

/* MANAGE TABLE */

#manage tr td {
	text-align:center;
	display:block;
	background-image:url("../images/icons/button.png");
	font-size:35px;
	color:#bbb;
}

#manage tr td:hover {
	background-image:url("../images/icons/button-active.png");
	color:#eee;
}

#manage tr td span {
	width:300px;
	height:80px;
	display:block;
	padding-top:20px;
}

/* MINI-MANAGE TABLE */

#mini-manage tr td {
	text-align:center;
	display:block;
	background-image:url("../images/icons/mini-button.png");
	font-size:14px;
	color:#bbb;
}

#mini-manage tr td:hover {
	background-image:url("../images/icons/mini-button-active.png");
	color:#eee;
}

#mini-manage tr td span {
	width:150px;
	height:40px;
	display:block;
	padding-top:9px;
}

/* MINI-INFO TABLE */

#mini-info tr td {
	text-align:center;
	display:block;
	background-image:url("../images/icons/mini-button.png");
	font-size:14px;
	color:#bbb;
}

#mini-info tr td span {
	width:100px;
	height:20px;
	display:block;
	padding-top:9px;
}

/* CARD LISTS*/

#card_lists {
	display:block;
	background-color:#171;
	width:990px;
	height:105px;
	padding:2px;
}

#card_lists ul {
	padding:0px;
	display:inline;
	min-width:65px;
	height:100px;
}

#card_lists li {
	list-style-type:none;
	float:left;
	padding:2px;
	min-width:65px;
}

#card_lists li span:hover {
	background-image:url("../images/cards/card-hover.png");
	color:#eee;
}

#card_lists li span {
	display:block;
	width:65px;
	height:100px;
	font-size:15px;
	color:#bbb;
	text-align:center;
	background-image:url("../images/cards/card.png");
}

/* UL MANAGE */
#control_state li {
	text-align:center;
	background-image:url("../images/icons/mini-button.png");
	display:block;
	list-style-type:none;
	float:left;
	font-size:25px;
	color:#bbb;
}

#control_state li span{
	width:150px;
	height:40px;
	display:block;
}



/* DECK MANAGE */

#deck_manage div {
	min-height:50px;
	background-color:#171;
	width:792;
	border-style:outset;
	border-width:5px;
	border-color:gray;
}
#deck_manage div table {
	padding:9px;
}
