@font-face {
    font-family: 'DejaVuSans';
    src: url('../fonts/DejaVuSans.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '04b_pp';
    src: url('../fonts/04b.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fipps';
    src: url('../fonts/Fipps.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Volter';
	src: url('../fonts/Volter.ttf');
	font-weight: normal;
	font-style: normal;
}

/* SETUP */


body {
	margin:auto;
	padding:0px;
	background-color:#0cf;
	text-align:center;
}

/* LINKS */

a:link, a:visited {
	color:#fca;
	text-decoration:none;
}
#content-main a:link, #content-main a:visited {
    color:#fca;
    text-decoration:none;
}

a:hover {
    color:#fcc;
}
#content-main a:hover {
    color:#fcc;
    text-decoration:none;
}

/* HEADER */

#header {
    position:relative;
	height:91px;
	margin-top: 20px;
	margin-bottom: 10px;
	clear:both;
	text-align: center;
}

#logo {
	display: inline;
    width:502px;
    height:95px;
    margin:0;
	text-align:center;
}

/* MENU BAR */

#menubar {
	display: inline-block;
	position:relative;
	clear:both;
	height:61px;
	width: 800px; /* sum of widths of menu items */
	margin-bottom: 20px;
}

#menu-global {
	position:absolute;
	margin:0;
	bottom:0;
	padding:0px;
	text-align:center;
}
#menu-global li {
	display:block;
	list-style-type:none;
	float:left;
	text-align:center;
	margin: 0px 20px;
	padding:0;
	height: 39px;
}

#menu-play, #menu-trade, #menu-news, #menu-account, #menu-about {
	background:url('/static/images/style/menu-words.png') no-repeat;
}

#menu-play { min-width: 86px; background-position: 0px 0px; }
#menu-trade { min-width: 116px; background-position: -86px 0px; }
#menu-news { min-width: 104px; background-position: -202px 0px; }
#menu-account { min-width: 157px; background-position: -306px 0px; }
#menu-about { min-width: 116px; background-position: -463px 0px;}

#menu-play:hover { background-position: 0px -41px; }
#menu-trade:hover { background-position: -86px -41px; }
#menu-news:hover { background-position: -202px -41px; }
#menu-account:hover { background-position: -306px -41px; }
#menu-about:hover { background-position: -463px -41px;}

#play #menu-play { background-position: 0px -82px; }
#trade #menu-trade { background-position: -86px -82px; }
#news #menu-news { background-position: -202px -82px; }
#account #menu-account { background-position: -306px -82px; }
#about #menu-about { background-position: -463px -82px;}

#play #menu-play:hover { background-position: 0px -123px; }
#trade #menu-trade:hover { background-position: -86px -123px; }
#news #menu-news:hover { background-position: -202px -123px; }
#account #menu-account:hover { background-position: -306px -123px; }
#about #menu-about:hover { background-position: -463px -123px;}

/* CONTENT TYPE */

#content-main {
	clear:both;
	margin:auto;
	min-height:1000px;
	width:100%;
	text-align:left;
}

#content-holder {
	display: block;
	background: #090 url('/static/images/style/bg.png') repeat-x;
	padding:20px;
	min-height: 850px;
	text-align: center;
}

#content {
/* container for page content */
	background-color: #630;
	margin: 50px auto 0 auto; /* top 50, sides auto, bottom 0 */
	border-width: 24px 48px;
	border-style: solid;
	border-color: transparent;
	border-image: url('/static/images/style/border2.png') 24 48 24 48 round round;
	width:80%;
	text-align:left;
	min-height: 800px;
	color: #fc9;
}

#content p {
	font-family: serif;
	padding: 0 50px 40px 50px;
	padding-left:80px;
	padding-right:50px;
	padding-bottom:40px;
}

#content h1 {
	font-family: 'Volter';
	font-size:150%;
	font-weight:bold;
	margin-top:40px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 0;
}


#login{
	float:left;
	padding-left:50px;
}

#register {
	float:right;
	padding-right:50px;
}

/* TABLE AND LIST FORMATTERS */

/* MANAGE TABLE */

#manage tr td .bigbutton {
	width:300px;
	height:80px;
	padding-top:20px;
	color: #333;
	text-align:center;
	display:block;
	border: 24px solid transparent;
	border-image: url('/static/images/style/rock-border.png') 24 24 24 24 round round;
	background-color: #999;
	font-family: 'Volter';
	font-size:200%;
}

#manage tr td .bigbutton:hover {
	border: 24px solid transparent;
	border-image: url('/static/images/style/rock-border-hover.png') 24 24 24 24 round round;
	background-color: #ccc;
	color:#666;
}

#manage tr td .deckbutton {
	/* placeholder to be edited later */
	width:300px;
	height:80px;
	padding-top:20px;
	color: #333;
	text-align:center;
	display:block;
	border: 24px solid transparent;
	border-image: url('/static/images/style/rock-border.png') 24 24 24 24 round round;
	background-color: #999;
	font-family: 'Volter';
	font-size:200%;
}

#manage tr td .deckbutton:hover {
	border: 24px solid transparent;
	border-image: url('/static/images/style/rock-border-hover.png') 24 24 24 24 round round;
	background-color: #ccc;
	color:#666;
}



/* MINI-MANAGE TABLE */

#mini-manage tr td {
	text-align:center;
	display:block;
	font-size:14px;
	color:#bbb;
}

#mini-manage tr td:hover {
	color:#eee;
}

#mini-manage tr td .card-listing {
	width:78px;
	height:120px;
	display:block;
	padding-top:9px;
	background-color: fuchsia; /* this should not be visible! */
	border: 2px solid black;
}

/* MINI-INFO TABLE */

#mini-info tr td {
	font-family: 'Volter';
	border: 3px solid black;
	text-align:center;
	display:block;
	font-size:14px;
	color:#bbb;
}

#mini-info tr td .player_status {
	width:100px;
	height:20px;
	display:block;
	padding: 4px;
}

/* CARD LISTS*/

#card_lists {
	display:block;
	width:990px;
	height:105px;
	padding:2px;
}

#card_lists ul {
	padding:0px;
	display:inline;
	min-width:65px;
	height:100px;
}

#card_lists li {
	list-style-type:none;
	float:left;
	padding:2px;
	min-width:65px;
}

#card_lists li span:hover {
	background-image:url("/static/images/cards/card-hover.png");
	color:#eee;
}

#card_lists li span {
	display:block;
	width:78px;
	height:120px;
	font-size:15px;
	color:#bbb;
	text-align:center;
	background-image:url("/static/images/cards/card.png");
}

/* UL MANAGE */
#control_state li {
	text-align:center;
	background-image:url("../images/icons/mini-button.png");
	display:block;
	list-style-type:none;
	float:left;
	font-size:25px;
	color:#bbb;
}

#control_state li span{
	width:150px;
	height:40px;
	display:block;
}



/* DECK MANAGE */

#deck_manage div {
	min-height:50px;
	background-color:#171;
	width:792;
	border-style:outset;
	border-width:5px;
	border-color:gray;
}
#deck_manage div table {
	padding:9px;
}


/* PLAYING SURFACE */

#game {
	background-color: #060;
	border-image: url('/static/images/style/felt-border.png') 3 round;
}
